<h1>IronWorker Rails 101 example</h1>
<h3>Here are few sections that guide you through main IronWorker features:</h3>
<ul>
  <li>First of all you need to upload the worker to IronWorker at the onset and then you can queue it and schedule as many times as you like. If you modify the worker, then you'll need to re-upload it to replace the one in the IronWorker code cache. <%= link_to "Manage code packages", codes_path %>
    <br/></li>


  <li>Then you could queue task: <%= link_to "Manage tasks", tasks_path %>
    <br/></li>
  <li>And schedule task: <%= link_to "Manage schedules", schedules_path %>
    <br/></li>
  <li>List of examples: <%= link_to "Examples", custom_examples_path %>
    <br/></li>
</ul>