<h1>IronWorker 101 example</h1>
<h3>Here are few sections that guide you through main IronWorker features:</h3>
<ul>
  <li>First of all you need to create and upload your code package:<%= link_to "Codes", codes_path %>
    <br/></li>


  <li>Then you could queue task:<%= link_to "Tasks", tasks_path %>
    <br/></li>
  <li>And manage scheduled tasks:<%= link_to "Schedules", schedules_path %>
    <br/></li>
</ul>