<h1>IronWorker Rails 101 example</h1>
<h3>Here are few sections that guide you through main IronWorker features:</h3>
<ul>
  <li>First of all you need to create and upload your code package: <%= link_to "Manage code packages", codes_path %>
    <br/></li>


  <li>Then you could queue task: <%= link_to "Manage tasks", tasks_path %>
    <br/></li>
  <li>And manage scheduled tasks: <%= link_to "Manage schedules", schedules_path %>
    <br/></li>
  <li>List of examples: <%= link_to "Examples", custom_examples_path %>
    <br/></li>
</ul>